.ql-size-small {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.ql-size-large {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.ql-size-huge {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: numeric;
}

.ql-editor {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.ql-toolbar {
  background-color: #f7f6f9;
  padding: 0.5rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom: 0;
  border: 1px solid #eeddf5;
  color: #3e0c2c !important;
}

/* Change icon color */
.ql-toolbar .ql-formats button .ql-stroke {
  stroke: currentColor;
}

/* Use current text color */
/* Change icon color */
.ql-toolbar .ql-formats button .ql-fill {
  fill: currentColor;
}

/* FOR TEXT SIZE PART ON TOOLBAR */
/* Change color of dropdown label */
.ql-toolbar .ql-picker-label {
  color: #2d0c3e;
}

.ql-container .ql-editor::placeholder {
  font-style: normal; /* Remove italic style */
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
